header{
    font-size: 50px;
    text-align: center;
    border: 10px dotted black;
    height: 300px;
    width: 80%;
    margin: 20px auto;
}
img{
    margin-top: 1%;
    height: 70%;
    width: 80%;
}

#underScore{
    border: 5px dotted black;
    font-size: 50px;
    text-align: center;
    height: 80px;
    width: 80%;
    margin: 25px auto;
}

.tg, p{
    text-align: center;
    margin: 2%;
    font-size: 25px;
}
#wins{
    border: 5px dotted black;
    font-size: 50px;
    text-align: center;
    height: 50px;
    width: 50%;
    padding-top: 5px;
    margin: 15px auto;
}

#guessRemaining{
    border: 5px dotted black;
    font-size: 50px;
    text-align: center;
    height: 50px;
    width: 50%;
    margin: 25px auto;
}

#wrongGuess{
    border: 5px dotted black;
    font-size: 50px;
    text-align: center;
    height: 75px;
    width: 50%;
    margin: 25px auto;
}